<% content_for :page_title do %>
  <%= t("views.public_pages.home.title") %>
<% end %>
<main role="main">

  <div class="slab slab--hero">
    <div class="grid">
      <div class="grid__item width-one-half">
        <h1>
          <%= t("views.public_pages.home.header") %>
        </h1>
        <p class="spacing-below-60">
          <strong>
            <%= t("views.public_pages.home.subheader") %>
          </strong>
        </p>
        <%= link_to t("general.get_started"), states_path, class: "button button--med-wide button--primary" %>
      </div>
      <div class="grid__item width-one-half hero-illustration">
        <!--        <p>IMG here</p>-->
      </div>
    </div>
  </div>

  <!--  <div class="slab slab--additional-info">-->
  <!--    <div class="grid">-->
  <!--      <div class="grid__item width-one-whole">-->
  <!--        <h2 class="h3 spacing-below-0">-->
  <%#= t("views.public_pages.home.banner.heading") %>
  <!--        </h2>-->
  <!--      </div>-->
  <!--      <div class="grid__item width-one-whole">-->
  <%#= t("views.public_pages.home.banner.info") %>
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
</main>
