<section class="slab slab--white">
  <div class="grid">
    <div class="grid__item width-three-fourths shift-one-eighth">
      <h1 class="form-question">What state do you live in?</h1>

      <%= form_with url: states_path, method: :post do |form| %>
        <div class="select">
          <% states_array = State.all.map { |state| [state.name, state.id] } %>
          <%= select_tag :state, options_for_select(states_array), class: "select__element" %>
        </div>

        <div class="spacing-above-60">
          <%= form.submit "Continue", class: "button button--primary button--wide text--centered" %>
        </div>
      <% end %>
    </div>
  </div>
</section>