<% content_for :page_title do %>
  <%= t('.title') %>
<% end %>

<% content_for :card do %>
  <h2><%= t('.header', state: State.find(session[:state]).name ) %></h2>
  <p><%= t('.body') %></p>
<% end %>