.slab--footer {
  margin-top: auto;
  color: white;
  background-color: black;
  padding-bottom: $s10;

  a {
    color: inherit;
  }

  .footer-links {
    margin-top: 0.5rem;
    li {
      margin-bottom: 0.5rem;
    }
  }
}