<% content_for :page_title do %>
  <%= t('.title') %>
<% end %>

<% content_for :card do %>
  <div class="form-card__header">
    <div class="emoji emoji--big emoji--clipboard"></div>
    <h1 class="form-card__title"><%= t(".title") %></h1>
  </div>
  <div class="form-card__content">
    <p><%= t(".body") %></p>
  </div>
<% end %>