.form-card {
  &__header {
    //text-align: left;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    text-align: left;
  }

  &__content {
    margin-left: auto;
    margin-right: auto;
  }
}

//.vertical-steps {
//  text-align: left;
//  margin-block-start: 0em;
//  margin-block-end: 0em;
//}

.form-card--transition {
  text-align: left;
}