<div class="accordion">
  <button href="#" class="accordion__button" aria-expanded="true" aria-controls="a1"><%= title %></button>
  <div class="accordion__content" id="a1">
    <%= yield %>
  </div>
</div>