<% content_for :content do %>
  <div class="slab">
    <div class="grid">
      <div class="grid__item width-five-sixths shift-one-twelfth">
        <%= content_for :notices %>
        <div class="form-card">
          <%= content_for?(:card) ? yield(:card) : yield %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>